nav{
    background:rgba(1, 114, 255, 0.20);
    width: max-content;
    display: block;
    padding: 0.7rem 0.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    display: flex;
    gap: 0.8rem;
    border-radius:3rem;
    backdrop-filter: blur(15px);
} 

nav a {
    background: transparent;
    padding: 0.9rem;
    display: flex;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 1.2rem;
}
nav a:hover{
    background: rgba(0, 0, 0, 0.3 );
}

nav a.active {
      background: var(--primary-color);
      color: white;
      font-size: 1.5rem;
}